<!DOCTYPE html>
<html>
<head>
    <title>
        Website Name
    </title>
    <script type = "text/javascript" src ="itempage.js"></script>
</head>
<body>
   
    <h3>
        Item Name <span id = "item_name" />
    </h3>
    <h3>
        Item Price <span id = "item_price" />
    </h3>
    <h3>
        Item Descripton <span id ="item_description" />
    </h3>

    <h2>
        Seller Information
    </h2>

    <h3>
        Name <span id = "userName" />
    </h3>
    <h3>
        Email <span id = "email" />
    </h3>
    <h3>
        Phone Number <span id = "phoneNumber" />
    </h3>

    <!--Space for the Map-->

    <button type="submit" id="btn">Purchase</button>
</body>
</html>
