<!DOCTYPE html>
<html>
<head>
    <title>
        College Marketplace
    </title>
    <!--script type = "text/javascript" src ="itempage.js"></script-->
</head>
<body>
    <h1>Item Name: {{ item['item_name'] }} </h1>
    <h2>Price: {{ item['item_price'] }}</h2>
    <h3>Description: {{ item['item_description'] }}</h3> 
    <h1>Image:</h1>
    <img src="{{ url_for('static', filename='images/' + item['item_id']|string + '.png') }}" class="center">
    <br>

    <h2>
        Seller Information
    </h2>

        <h1>Seller Name: {{ seller['user_name'] }} </h1>
        <h2>Email: {{ seller['user_email'] }}</h2>
        <h3>Phone Number: {{ seller['user_phone_number'] }}</h3> 
        <br>

        <h3>Distance from seller: {{ distance }}</h3>
    <!--Space for the Map-->
        <iframe
            width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/directions?key=[[API_KEY]]
            &origin={{ user_address }}
            &destination={{ seller['user_address'] }}">
        </iframe>

    <button type="submit" id="btn">Purchase</button>
</body>
</html>
