<!DOCTYPE html>
<html>
<head>
    <title>Webpage Name</title>
</head>
<body>
    {% for actual_item in item_list %}
        {% for key, value in actual_item.items() %}
            {% if key == "name" %}
                <h1>Name: {{value}}</h1>
            {% elif key == "item_price" %}
                <h2>Price: {{value}}</h2>
            {% elif key == "item_description" %}
                <h3>Description: {{value}}</h3>
            {% elif key == "image" %} 
                <h1>Iamge: {{value}}</h1>
        {% endfor %}
    {% endfor %}
</body>
</html>

