<!DOCTYPE html>
<html>
<head>
    <title>Webpage Name</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label for="item name">Item Name</label>
        <input type="name" id="name" name="name">
        <label for="item price">Suggested Price</label>
        <input type="text" id="price" name="price">
        <label for="item description">Item Description</label>
        <textarea name="itemDesc" id="item description"></textarea>
        <label for="photo">Photo</label>
        <input type="file" id="photo" name="photo">
        <!--div id = "display_image"></div-->
        <!--script src = "script.js"></script-->
        <button type="submit">Post</button>
    </form>
</body>
</html>